<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <p class="lead text-muted">
        Keep track of your shared expenses and balances with housemates, trips,
        groups, friends, and family.
      </p>
    </div>

    <div *ngIf="!accountConnected()">
      <button class="btn btn-primary btn-lg" (click)="Connect()">
        Connect Wallet
      </button>
    </div>
  </div>
</section>

<section class="bg-light py-4 my-5" *ngIf="accountConnected()">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let item of groups">
        <group-box [group]="item"></group-box>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card py-5 mt-4">
          <div class="card-body">
            <p class="card-text text-center">
              <button class="btn btn-primary">New Group</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
